
/* Common styles */
body {
    background: none repeat scroll 0 0 #F3F3F3;
}

#main_container {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    margin: 4em auto;
    width: 600px;
}

#content {
    width:100%;
    margin: 1em auto;
}


img.left {
    vertical-align:middle;
} 

/* tex styles */
div.tableofcontents {
    padding: 1em 0em 0em 1em;
}

div.chapterTOCS {
    padding: 1em 0em 0em 1em;
}

div#toplinks {
    position: fixed;
    top: 0;
    text-align: center;
    background: none repeat scroll 0 0 #CCCCCC;
    padding: 1em 0em 1em 0em;
    width: 600px;
}

div#bottomlinks {
    text-align: center;
    background: none repeat scroll 0 0 #CCCCCC;
    padding: 1em 0em 1em 0em;
    width: 600px;
}

#content div.defmac div.tabbing {
    padding: 0em 1em 0em 1em;
}


li.itemize {
    text-align:justify;
    padding: 0em 1em 0em 1em;
}

div.indentdesc {
    text-align: justify;
    padding: 0em 1em 0em 1em;
}

#content p {
    text-align:justify;
    padding: 0em 1em 0em 1em;
}

#content div.lisp p {
    display: none;
}

#content h1, h2, h3, h4, h5, h6 {
    background: none repeat scroll 0 0 #CCCCCC;
    padding: 1em 1em 1em 1em;
}

div.table {
    padding: 0em 1em 0em 1em;
}

div.tabular table {
    border-width: 1px;
    border-spacing: 0px;
    border-style: inset;
    border-color: gray;
    border-collapse: collapse;
    background-color: white;
}

div.tabular table th {
    border-width: 1px;
    padding: 1px;
    border-style: inset;
    border-color: gray;
    background-color: white;
}

div.tabular table td {
    border-width: 1px;
    padding: 1px;
    border-style: inset;
    border-color: gray;
    background-color: white;
}

.centerline {
    text-align: left
}
tt {
    font-family: monospace,monospace;
}
div.lisp {
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    color: olive;
    font-family: monospace; /*,monospace;*/
    font-size: 1em;
    overflow: auto;
    margin: 1em;
    padding: 1em;
}
div.defun {
    border-top: 3px dotted #DDAADD;
    padding-top: 1em;
    margin-top: 1em;
}

div.defunheader {
    padding: 0em 0em 0em 1em;
}

div.defmacheader div.tabbing {
    padding: 0em 0em 0em 1em;
}

div.defmacheader p {
    display: none;
}

div.defspec {
    border-top: 3px solid #DDDDAA;
    padding-top: 1em;
    margin-top: 1em;
}
div.defmac {
    border-top: 3px dashed #AADDDD;
    padding-top: 1em;
    margin-top: 1em;
}

div.newer {
    border-top: 3px solid #333333;
    border-bottom: 3px solid #333333;
    padding-top: 1em
}
div.new {
    border-top: 3px solid #333333;
    border-bottom: 3px solid #333333;
    padding-top: 1em
}
div.obsolete {
    border-top: 1px dotted #AAAAAA;
    border-bottom: 1px dotted #AAAAAA;
    padding-top: 1em;
    color: \#333333;
}
div.incompatibility {
    border-top: 1px dotted #DDDDDD;
    border-bottom: 1px dotted #DDDDDD;
    padding-top: 1em;
    margin-top: 1em;
    color: \#333333;
    text-align: left
}
div.rationale {
    border-top: 3px double #999999;
    border-bottom: 3px double #999999;
    padding-top: 1em;
    margin-top: 1em;
    text-align: justify;
}
div.implementation {
    border-top: 3px dashed #999999;
    border-bottom: 3px dashed #999999;
    padding-top: 1em;
    margin-top: 1em;
    text-align: justify;
}