
/* Common styles */
body {
    background: none repeat scroll 0 0 #F3F3F3;
}

#main_container {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    margin: 4em auto;
    width: 600px;
}

#content {
    width:100%;
    margin: 1em auto;
}


/* tex styles */

div#toplinks {
    position: fixed;
    top: 0;
    text-align: center;
    background: none repeat scroll 0 0 #CCCCCC;
    padding: 1em 0em 1em 0em;
    width: 600px;
}

div#bottomlinks {
    text-align: center;
    background: none repeat scroll 0 0 #CCCCCC;
    padding: 1em 0em 1em 0em;
    width: 600px;
}

div.tableofcontents {
    padding: 0em 1em 0em 1em;
}

div.chapterTOCS {
    padding: 0em 1em 0em 1em;
}

#content p {
    text-align:justify;
    padding: 0em 1em 0em 1em;
}

#content h1, h2, h3, h4, h5, h6 {
    background: none repeat scroll 0 0 #CCCCCC;
    padding: 1em 1em 1em 1em;
}

object.toc {
    border-style: none;
}

table.tabbing {
    border-style: none;
    padding: 0em 1em 0em 1em;
}

div.flushleft {
    padding: 0em 1em 0em 1em;
}

.lati-1200 {font-size:100%}
.latt-1200 {
    font-size:100%;
    font-family: monospace,monospace;
}
.cmr-8 {font-size:100%}
.cmr-12 {font-size:100%}
.cmsy-10x-x-120 {font-size:100%}
.centerline {
    text-align: left
}
tt {
    font-family: monospace,monospace;
}
div.lisp {
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    color: olive;
    font-family: monospace,monospace;
    font-size: 1em;
    margin: 1em;
    overflow: auto;
    padding: 1em;
}
div.defun {
    border-top: 1px dotted #DDAADD;
    padding-top: 1em;
}
div.defspec {
    border-top: 1px solid #DDDDAA;
    padding-top: 1em;
}
div.defmac {
    border-top: 1px dashed #AADDDD;
    padding-top: 1em
}
div.newer {
    border-top: 1px solid #333333;
    padding-top: 1em
}
div.new {
    border-top: 1px solid #333333;
    padding-top: 1em
}
div.obsolete {
    border-top: 1px dotted #AAAAAA;
    padding-top: 1em;
    color: \#333333;
}
div.incompatibility {
    border-top: 1px dotted #DDDDDD;
    padding-top: 1em;
    color: \#333333;
    text-align: left
}
div.rationale {
    border-top: 1px double #999999;
    padding-top: 1em;
    text-align: left
}
div.implementation {
    border-top: 1px dashed #999999;
    padding-top: 1em;
    text-align: left
}